/* project and activity */
.swiper-activity .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-project .swiper{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-activity .swiper-slide,
.swiper-project .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-activity .swiper-pagination .swiper-pagination-bullet{
    background-color: #A4CA62;
    width: 6px;
    height: 4px;
    border-radius: 10px;
}

.swiper-project .swiper-pagination .swiper-pagination-bullet{
  background-color: #415464;
  width: 6px;
  height: 4px;
  border-radius: 10px;
}

.swiper-activity .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #A4CA62;
    width: 12px;
    height: 4px;
    border-radius: 10px;
}
.swiper-project .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #415464;
  width: 12px;
  height: 4px;
  border-radius: 10px;
}

/* client */
@keyframes scrollleft{
  to{
      left: -200px;
  }
}

@keyframes scrollRight{
  to{
    right: -200px;
  }
}

.client_item{
  width: 200px;
  height: 200px;
  position: absolute;
  left: max(calc(200px * 9), 100%);
  animation: scrollleft 30s linear infinite;
}
.partner_item {
  width: 200px;
  height: 200px;
  position: absolute;
  left: max(calc(200px * 15), 100%);
  animation: scrollleft 40s linear infinite;
}
.network_item,
.supply_item{
  width: 150px;
  height: 200px;
  position: absolute;
  right: max(calc(200px * 9), 100%);
  animation: scrollRight 30s linear infinite;
}


.client_item.item1,
.network_item.item1,
.supply_item.item1{
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}
.client_item.item2,
.network_item.item2,
.supply_item.item2{
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}
.client_item.item3,
.network_item.item3,
.supply_item.item3{
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}
.client_item.item4,
.network_item.item4,
.supply_item.item4{
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}
.client_item.item5,
.network_item.item5,
.supply_item.item5{
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}
.client_item.item6,
.network_item.item6,
.supply_item.item6{
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}
.client_item.item7,
.network_item.item7,
.supply_item.item7{
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}
.client_item.item8,
.network_item.item8,
.supply_item.item8{
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.client_item.item9,
.network_item.item9,
.supply_item.item9{
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

.partner_item.item1{
  animation-delay: calc(40s / 15 * (15 - 1) * -1);
}
.partner_item.item2{
  animation-delay: calc(40s / 15 * (15 - 2) * -1);
}
.partner_item.item3{
  animation-delay: calc(40s / 15 * (15 - 3) * -1);
}
.partner_item.item4{
  animation-delay: calc(40s / 15 * (15 - 4) * -1);
}
.partner_item.item5{
  animation-delay: calc(40s / 15 * (15 - 5) * -1);
}

.partner_item.item6{
  animation-delay: calc(40s / 15 * (15 - 6) * -1);
}
.partner_item.item7{
  animation-delay: calc(40s / 15 * (15 - 7) * -1);
}
.partner_item.item8{
  animation-delay: calc(40s / 15 * (15 - 8) * -1);
}
.partner_item.item9{
  animation-delay: calc(40s / 15 * (15 - 9) * -1);
}
.partner_item.item10{
  animation-delay: calc(40s / 15 * (15 - 10) * -1);
}
.partner_item.item11{
  animation-delay: calc(40s / 15 * (15 - 11) * -1);
}
.partner_item.item12{
  animation-delay: calc(40s / 15 * (15 - 12) * -1);
}
.partner_item.item13{
  animation-delay: calc(40s / 15 * (15 - 13) * -1);
}
.partner_item.item14{
  animation-delay: calc(40s / 15 * (15 - 14) * -1);
}
.partner_item.item15{
  animation-delay: calc(40s / 15 * (15 - 15) * -1);
}






